body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
 
    background: #f1f0ea;
  }

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #003a6c;
}
.navbar li {
 float: right;

}
.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.container{
    border-style: solid;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
}
table,th,td{
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 10px;
    text-align: center;
}
td,th{
    padding:10px;

}
th{
    background-color: #4caf50;
    color:white;
}
tr:nth-child(even){
background-color: #929292;
}
footer{
    position: fixed;
    left: 0 ;
    bottom: 5%;
    width: 100%;
    text-align: center;

}

